<style>

.header1{
  font-size: 125%;
  color: black;
  text-shadow: 300px 300px 300px #f9e6ff;
  margin-bottom: 5%;
  font-family: 'Poppins', sans-serif;
}

.card{

  background: linear-gradient(to right, #400861, #f9e6ff);

}

.card-body{
  color: white;
}

.lbl-text{
  color:white;
  font-style: bold;
  text-transform: capitalize;
}

.go-back {
  display: block;
  float: right;
  margin-top: 20px;
}

.go-back a{
  text-decoration: none !important;
  color:black;
}

hr {
  height: 3px;
}

</style>

<div class="container">
  <div class="products">
    <fieldset class="product-fields">
      <legend class="product-legends">
        <img src="/product-white.png">&ensp;<h3>P R O D U C T S</h3>
        <a href="/admin/product/create"><img src="/create.png" style="float:right; width:30px; height:30px; margin-top: 10px;"></a>
      </legend>
      <div class="container">
        <div class="modal-header">
          <div class="card center">
            <img class="card-img-top" src="{{image}}" alt="{{name}}">
            <div class="card-body">
              <h4 class="card-title">{{name}}</h4>
              <h5 class="card-title">{{brandname}} Shoes</h5>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <h5>{{name}} - {{brandname}} (₱{{number price}}.00)</h5>
          <h6><i>{{category}}</i></h6>
          <hr>
          <ul>
            <li>Name: {{name}}</li>
            <li>Description: {{description}}</li>
            <li>Brand Name: {{brandname}}</li>
            <li>Brand Description: {{branddescription}}</li>
            <li>Tagline: {{tagline}}</li>
            <li>Warranty (in years): {{warranty}}</li>
            <li>Category: {{category}}</li>
          </ul>
        </div>
        <hr>
        <div class="modal-footer">
          <a href="/admin/products"><button type="button" class="btn btn-md btn-design-admin" style="float:left">Go Back</button>
          <a href="/admin/product/update/{{this.id}}"><button type="button" class="btn btn-md btn-design-admin" style="float:right">Update Product</button></a>&ensp;&ensp;
        </div>
      </div>
    </fieldset>
  </div>
</div>
