<style>

.btn-design {

	background-color: white;
	border-color: #400861;
	color: #400861;

}

.btn-design:hover{
	
	background-color: #400861;
	border-color: white;
	color: white;
}

.btn-design:active {
	transform: translateY(5px);
}

</style>

<div class="container">
	<div class="customers">
		<fieldset class="customer-fields">
			<legend class="customer-legends">
				<img src="/customer-white.png">&ensp;<h3>C U S TO M E R S</h3>
			</legend>
			<div class="container">
				{{#each customers}}
				<div class="row">
					<div class="col-md-12">
						<div class="customer-contents">
							<img src="/customer.png">
							<div class="customer-contents2">
								<li><b>Name:</b> {{this.last_name}}, {{this.first_name}} {{this.middle_name}}</li>
								<li><b>Email:</b> {{this.email}}</li>
								<li><a href="/admin/customers/{{this.id}}">
											<button type="button" class="btn btn-design"><b>See more details&nbsp;&raquo;</b></button>
										</a>
								</li>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</fieldset>
	</div>
</div>