<style>

.btn-design {

	background-color: white;
	border-color: #400861;
	color: #400861;

}

.btn-design:hover{
	
	background-color: #400861;
	border-color: white;
	color: white;
}

</style>

{{!-- <div class="col-md-9">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-design">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Middle Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th>Customer Details</th>
				</tr>
			</thead>
			{{#each rows}}
			<tbody>
				<tr>
					<td>{{this.first_name}}</td>
					<td>{{this.middle_name}}</td>
					<td>{{this.last_name}}</td>
					<td>{{this.email}}</td>
					<td>
						<a href="/admin/customers/{{this.id}}"><button type="button" class="btn btn-design"><b>See more details&nbsp;&raquo;</b></button></a>
					</td>
				</tr>
			</tbody>
			{{/each}}
		</table>
	</div>
</div> --}}


<div class="container">
	<div class="customers">
		<fieldset class="customer-fields">
			<legend class="customer-legends">
				<img src="/customer-white.png">&ensp;<h3>C U S TO M E R S</h3>
			</legend>
			<div class="container">
				{{#each rows}}
				<div class="row">
					<div class="col-md-12">
						<div class="customer-contents">
							<img src="/customer.png">
							<div class="customer-details">
								<li><b>Full Name:</b> {{this.last_name}}, {{this.first_name}} {{this.middle_name}}</li>
								<li><b>Email:</b> {{this.email}}</li>
								<li><a href="/admin/customers/{{this.id}}">
											<button type="button" class="btn btn-design"><b>See more details&nbsp;&raquo;</b></button>
										</a>
								</li>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
		</fieldset>
	</div>
</div>