{{!-- <div class="col-md-9">
	<div class="row">
		<div class="col-md-12">
			<p>CUSTOMER DETAILS:</p>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-design">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Middle Name</th>
							<th>Last Name</th>
							<th>Email Address</th>
							<th>State</th>
							<th>City</th>
							<th>Street</th>
							<th>Zipcode</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{rows.0.first_name}}</td>
							<td>{{rows.0.middle_name}}</td>
							<td>{{rows.0.last_name}}</td>
							<td>{{rows.0.email}}</td>
							<td>{{rows.0.state}}</td>
							<td>{{rows.0.city}}</td>
							<td>{{rows.0.street}}</td>
							<td>{{rows.0.zipcode}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>ORDER DETAILS:</p>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-design">
					<thead>
						<tr>
							<th>Ordered Products</th>
							<th>Quantity</th>
							<th>Order Date</th>
						</tr>
					</thead>
					{{#each rows}}
					<tbody>
						<tr>
							<td>{{this.product_name}}</td>
							<td>{{this.quantity}}</td>
							<td>{{this.purchase_date}}</td>
						</tr>
					</tbody>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div> --}}


<div class="container">
	<div class="customers">
		<fieldset class="customer-fields">
			<legend class="customer-legends">
				<img src="/customer-white.png">&ensp;<h3>C U S TO M E R S</h3>
			</legend>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="customer-details">
							<fieldset class="customer-details-field">
								<legend class="customer-details-legend">
									<img src="/customer.png">&ensp;<h5>Customer Details</h5>
								</legend>
								<div class="container">
									<div class="table-responsive">
										<table class="table table-striped table-hover table-design">
											<thead>
												<tr>
													<th>First Name</th>
													<th>Middle Name</th>
													<th>Last Name</th>
													<th>Email Address</th>
													<th>State</th>
													<th>City</th>
													<th>Street</th>
													<th>Zipcode</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{rows.0.first_name}}</td>
													<td>{{rows.0.middle_name}}</td>
													<td>{{rows.0.last_name}}</td>
													<td>{{rows.0.email}}</td>
													<td>{{rows.0.state}}</td>
													<td>{{rows.0.city}}</td>
													<td>{{rows.0.street}}</td>
													<td>{{rows.0.zipcode}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="order-details">
							<fieldset class="order-details-field">
								<legend class="order-details-legend">
									<img src="/order.png">&ensp;<h5>Order Details</h5>
								</legend>
								<div class="container">
									<div class="table-responsive">
										<table class="table table-striped table-hover table-design">
											<thead>
												<tr>
													<th>Ordered Products</th>
													<th>Quantity</th>
													<th>Order Date</th>
												</tr>
											</thead>
											{{#each rows}}
											<tbody>
												<tr>
													<td>{{this.product_name}}</td>
													<td>{{this.quantity}}</td>
													<td>{{this.purchase_date}}</td>
												</tr>
											</tbody>
											{{/each}}
										</table>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="ml-auto" style="margin: 20px 20px;">
					<a href="/admin/customers"><button type="button" class="btn btn-design-admin">Go back to Customers Page&raquo;</button></a>
				</div>
			</div>
		</fieldset>
	</div>
</div>