{{!-- <div class="col-md-9">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-design">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Middle Name</th>
					<th>Last Name</th>
					<th>Email Address</th>
					<th>Product</th>
					<th>Quantity</th>
					<th>Purchase Date</th>
				</tr>
			</thead>
			{{#each rows}}
			<tbody>
				<tr>
					<td>{{this.first_name}}</td>
					<td>{{this.middle_name}}</td>
					<td>{{this.last_name}}</td>
					<td>{{this.email}}</td>
					<td>{{this.products_name}}</td>
					<td>{{this.quantity}}</td>
					<td>{{this.purchase_date}}</td>
				</tr>
			</tbody>
			{{/each}}
		</table>
	</div>
</div> --}}


<div class="container">
	<div class="orders">
		<fieldset class="order-fields">
			<legend class="order-legends">
				<img src="/order-white.png">&ensp;<h3>O R D E R S</h3>
			</legend>
			<div class="container">
				{{#each rows}}
				<div class="row">
					<div class="col-md-12">
						<div class="order-contents">
							<img src="/orders.png">
							<div class="order-contents2">
								<li><b>Full Name:</b> {{this.last_name}}, {{this.first_name}} {{this.middle_name}}</li>
								<li><b>Email:</b> {{this.email}}</li>
								<li><b>Ordered Product:</b> {{this.products_name}}</li>
								<li><b>Quantity:</b> {{this.quantity}}</li>
								<li><b>Date:</b> {{this.purchase_date}}</li>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>