<div class="container">
	<div class="orders">
		<fieldset class="order-fields">
			<legend class="order-legends">
				<img src="/order-white.png">&ensp;<h3>O R D E R S</h3>
			</legend>
			<div class="container">
				{{#each orders}}
				<div class="row">
					<div class="col-md-12">
						<div class="order-contents">
							<img src="/orders.png">
							<div class="order-contents2">
								<li><b>Full Name:</b> {{this.last_name}}, {{this.first_name}} {{this.middle_name}}</li>
								<li><b>Email:</b> {{this.email}}</li>
								<li><b>Ordered Product:</b> {{this.products_name}}</li>
								<li><b>Quantity:</b> {{this.quantity}}</li>
								<li><b>Date:</b> {{moment this.purchase_date local=true add='hours' amount='8' format='llll'}}</li>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</div>