<style>
  	@import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');

.header1{
	font-size: 125%;
	color: black;
	text-shadow: 300px 300px 300px #f9e6ff;
	margin-bottom: 5%;
	font-family: 'Poppins', sans-serif;
}

.card{

	background: linear-gradient(to right, #c61aff, #f9e6ff);

}

.card-body{
	color: white;
}

.header-design{

	background-color: #8600b3;
	color: white;
	font-style: bold;

}

.body-design{

	background: linear-gradient(#c61aff, #f9e6ff);
}

.btn-design{
	background-color: none;
	border-color: #8600b3;
	color: #c61aff;
}

.btn-design:hover{
	background-color: #8600b3;
	border-color: #c61aff;
	color: white;
}

.lbl-text{
	color:white;
	font-style: bold;
	text-transform: capitalize;
}

.go-back {
	display: block;
	float: right;
	margin-top: 20px;
}

.go-back a{
	text-decoration: none !important;
	color:black;
}

</style>

{{!-- <div class="container">
	<div class="jumbotron mt-2 jumbotron-design">
		{{#each data}}
		<h1 class="mt-3 text-center">{{name}}</h1>
			<div class="col-lg-8 col-md-8 col-sm-8 mb-0 mx-auto">
				<div class="card center">
					<img class="card-img-top" src="{{image}}" alt="{{brandname}}">
					<div class="card-body">
						<h4 class="card-title">{{brandname}}</h4>
						<h5 class="card-title">₱ {{price}}.00</h5>
						<h7 class="card-title">{{description}}</h7><br>
						<button type="button" style="float:right" class="btn btn-md btn-design" data-toggle="modal" data-target="#orderModal">Order Now!</button>
						<button type="button" style="float:right" class="btn btn-md btn-design" href="/product/update/{{id}}">Update Product</button>
					</div>
				</div>
			</div>
		{{/each}}
		<div class="go-back">
			<h4>{{msg}}</h4>
			<a href="/products"><h5>&laquo;&ensp;Go back to products page</h5></a>
		</div>
	</div>
</div> --}}


<div class="container-fluid">
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-0 mx-auto">
			<div class="card center">
				<img class="card-img-top" src="{{image}}" alt="{{name}}">
				<div class="card-body">
					<h4 class="card-title">{{name}}</h4>
					<h5 class="card-title">{{brandname}} Shoes</h5>
				</div>
			</div>
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mb-0 mx-auto">
			<div class="jumbotron jumbotron-design">
				<div class="modal-body">
					<h5>{{name}} - {{brandname}} Shoes</h5>
					<hr>
					<ul>
						<li style="font-style:bold">Name: {{name}}</li>
						<li style="font-style:bold">Description: {{description}}</li>
						<li style="font-style:bold">Brand Name: {{brandname}}</li>
						<li style="font-style:bold">Brand Description: {{branddesc}}</li>
						<li style="font-style:bold">Tagline: {{tagline}}</li>
						<li style="font-style:bold">Warranty (in years): {{warranty}}</li>
						<li style="font-style:bold">Category: {{category}}</li>
					</ul>
					<button type="button" style="float:right" class="btn btn-md btn-design" data-toggle="modal" data-target="#orderModal">Order Now!</button>
					<button type="button" style="float:right" href="/product/update/{{this.id}}" class="btn btn-md btn-design">Update Product</button>&ensp;&ensp;
				</div>
			</div>
		</div>
	</div>
</div>

<!--Order Modal-->

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">

		<div class="modal-content">
			<div class="modal-header header-design">
				<h4 class="modal-title">CONTACT FORM</h4>
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>
			</div>

			<div class="modal-body body-design">
				{{!-- {{#each data}} --}}
				<form method="POST" action="{{id}}/send">
					<div class="controls">
						<div class="form-group">
							<label class="control-label lbl-text" for="name">Name</label>
							<div>
								<input id="name" name="name" type="text" placeholder="e.g. Juan Dela Cruz" class="form-control" required="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label lbl-text" for="phone">Phone</label>
							<div>
								<input id="phone" name="phone" type="number" placeholder="e.g. 09976897678" class="form-control" required="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label lbl-text" for="email">Email</label>
							<div>
								<input id="email" name="email" type="email" placeholder="e.g. jdelacruz@gmail.com" class="form-control" required="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label lbl-text" for="productid">Product ID</label>
							<div>
								<input id="productid" name="productid" type="text" value="{{id}}" class="form-control" required="" readonly="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label lbl-text" for="quantity">Quantity</label>
							<div>
								<input id="quantity" name="quantity" type="number" placeholder="10" class="form-control" required="">
							</div>
						</div>
						<div class="form-group">
							<div class="text-center">
								<button type="submit" class="btn btn-lg btn-design" title="Submit contact form">
								Submit
								</button>
				          		<button type="button" class="btn btn-lg btn-design" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</form>
				{{!-- {{/each}} --}}
			</div>
{{!-- 			<div class="modal-footer">
          		<button type="submit" class="btn btn-primary btn-lg">Submit
          		</button>
          		<button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>
        	</div> --}}
		</div>
	</div>
</div>
