<style>
  	@import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');

.h1{
	font-size: 125%;
	color: #fff;
	text-shadow: 0px 0px 300px #000;
	margin-bottom: 5%;
	font-family: 'Poppins', sans-serif;
}

.card{

	background-color: #8600b3;
}

.card-body{
	color: white;
}

</style>

<div class="container">
	<div class="jumbotron mt-2">
		{{#each data}}
		<h1 class="mt-3 text-center">{{this.name}}</h1>
			<div class="col-lg-8 col-md-8 col-sm-8 mb-0 mx-auto">
				<div class="card center">
					<img class="card-img-top" src="{{this.picture}}" alt="{{this.name}}">
					<div class="card-body">
						<h4 class="card-title">{{this.brand}} - {{this.type}}</h4>
						<h5 class="card-title">₱ {{this.price}}.00</h5>
						<h7 class="card-title">{{this.description}}
							<button type="button" data-toggle="modal" data-target="#orderModal">Order Now!</button></h7>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>

<!--Order Modal-->

<div class="modal-fade" id="orderModal" role="dialog">
	<div class="modal-dialog">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;
				</button>
				<h4 class="modal-title text-center">CONTACT FORM</h4>
			</div>

			<div class="modal-body">
				<form method="POST" action="{{this.id}}/send">

			</div>
			<div class="modal-footer">
          		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          		<button type="submit">Submit
          		</button>
        	</div>

		</div>
	</div>
</div>
