<!--<style>
	.table{
		margin-top: 20%;
	}
</style>-->

<body>
<!--Table from DB-->
<div class="container text-center table-sm">
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>TYPE</th>
			<th>DESCRIPTION</th>
			<th>BRAND</th>
			<th>PRICE</th>
			<th>PICURE</th>
		</tr>
	</thead>
{{#rows}}
	<tbody>
		<tr>
			<td>{{id}}</td>
			<td>{{name}}</td>
			<td>{{type}}</td>
			<td>{{description}}</td>
			<td>{{brand}}</td>
			<td>{{price}}</td>
			<td><img src="{{picture}}" style="height: 100px; width:100px"></td>
		</tr>
	</tbody>
{{/rows}}
</table>
</body>

